apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: speed-api
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: speed
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/speed-api
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
