apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-apps 
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: argocd 
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: monitoring-apps 
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
